.body_overall {
    width: 100vw;
    height: 100vh;
}

.home_overall {
    width: 100vw;
    height: 100vh;
    
}

.home_menu {
    width: 40%;
    height: 100%;
    background-color: #ade0ee;
}

.home_body {
    width: 55%;
    height: 100%;
}

.home_content {
    width: 100%;
    height: 100%;
}

.menu_expansion {
    width: 5%;
    height: 5%;
    background-color:#0f0;
}

.menu_parent {
    width: 100%;
    height: 5%;
    background-color: #ade0ee;
    position: relative;
    border-bottom: solid;
    border-color: black;
}

.menu_parent_content {
    font-size: 18px;
    line-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu_child {
    width: 100%;
    height: 5%;
    background-color: #c0cddc;
    position: relative;
    border-bottom: solid;
    border-color: black;
}

.menu_child_content {
    font-size: 18px;
    line-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.registration_form {
    width: 100%;
    height: 100%;
}

.registration_form_header {
    width: 100%;
    height: 10%;
    background-color: #c0c0c0;
    position: relative;
    border-bottom: solid;
    border-color: black;
}

.registration_form_content {
    width: 100%;
    height: 90%;
}

.form_header_content {
    font-size:18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form_elements {
    width: 100%;
    height: 7%;
    display: flex;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: black;
}

.form_element_name {
    width: 40%;
    position: relative;
    border-right: solid;
    border-color: black;
}

.form_element_content {
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form_element_value {
    width: 100%;;
    height: 100%;
    position: relative;
}

.form_element_value_no_relative {
    width: 60%;
    border-right: solid;
    border-color: black;
}

.form_element_text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form_element_time {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form_element_checkbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form_element_color {
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form_element_error {
    width: 100%;
    height: 30%;
}

.form_element_input {
    width: 100%;
    height: 70%;
}

.form_element_input_base {
    width: 60%;
}

.form_element_input_no_error {
    width: 60%;
    height: 100%;
}

.registration_menu {
    width: 20%;
    height: 30%;
    background-color: lightgreen;
    position: absolute;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: black;
}

.registration_free_field {
    width: 2000px;
    height: 2000px;
    background-color: beige;
    position: absolute;
}

.registration_menu_parent {
    width: 100%;
    height: 17%;
    position: relative;
    border-bottom: solid;
    border-color: black;
}

.registration_menu_parent_no_border {
    width: 100%;
    height: 15%;
    position: relative;
}

.registration_menu_parent_content {
    font-size: 18px;
    line-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.registration_free_field_base {
    display: flex; 
    overflow: scroll; 
    position: relative;
}

.divide_relative_field_2 {
    height: 50%;
    width: 100%;
    position: relative;
}

.divide_relative_field_2_content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.registration_free_field_content {
    border: solid; 
    border-color: black; 
    position: absolute; 
    width: 200px; 
    height: 75px; 
    background-color: white; 
    text-align: center;
}